.container-fluid{
    background-color: rgb(250, 245, 245);
    padding: 20px 30px 15px 20px;
}
.navbar{
    padding: 0 0;
    font-size: 17px;
    letter-spacing: 1px;
    
}
.navbar-nav li a:hover{
    color: #1abc9c !important;
}
.navbar-header{
    margin-left: 8%;
}
.footer{
    position: fixed;
    text-align: center;
    background-color: #1abc9c;
    height: 60px;
    width: 100%;
    bottom: 0;
    padding-bottom: 90px;
}
.footer p{
    margin-top: 35px;
    color: #fff;
}
.form-group{
    padding-bottom: 10px;
}

